{{define "logincontent"}}
     <article>
          <h1>This is the Login Page</h1>
          <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nostrum ipsam, unde eos corrupti ex
          molestias sit,
          provident quibusdam, cum est error laudantium necessitatibus et laborum optio dolore iure quia?
          </p>
          <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ad id, unde rerum facilis molestiae
          a.
          Aperiam magnam quam, accusamus iste placeat soluta consectetur vero voluptate. Asperiores quibusdam
          voluptatibus cumque?
          </p>
     </article>
{{end}}