{{define "header"}}
<header>
<nav>
     <div class="navbar">
          <div class="navbar-logo">
               <h1 class="navbar-logo-text"><a href="/">LOGO</a></h1>
          </div>
          <div class="navbar-menu">
               <ul>
                    <li class="navbar-menu-links"><a href="/about">About</a></li>
                    <li class="navbar-menu-links"><a href="/contacts">Contacts</a></li>
                    <li class="navbar-menu-links"><a href="/login">Login</a></li>
                    <li class="navbar-menu-links"><a href="/signup">Create Account</a></li>
               </ul>
          </div>
     </div>
</nav>
<header>
{{end}}