<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="navbar">
                    <div class="navbar_logo">
                        <a class="header_nav_link" href="index.page.html">logo</a>
                    </div>
                    <div class="navbar_menu">
                        <ul class="navbar_menu_links">
                            <li class="header_nav_li"><a class="header_nav_link" href="index.page.html">Home</a></li>
                            <li class="header_nav_li"><a class="header_nav_link" href="about.page.html">About</a></li>
                            <li class="header_nav_li"><a class="header_nav_link" href="login.page.html">Login</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <h1>Login</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Unde vitae quod omnis consectetur debitis maxime beatae aspernatur quasi,
                accusantium molestias perspiciatis mollitia quam, dignissimos, deleniti quidem fugit impedit enim.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed faucibus turpis in eu mi bibendum neque egestas. Quis hendrerit dolor magna eget est lorem ipsum. Sed vulputate odio ut enim blandit volutpat maecenas volutpat. Ac turpis egestas sed tempus urna et pharetra pharetra. In ornare quam viverra orci. Arcu risus quis varius quam. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Cras semper auctor neque vitae tempus quam pellentesque nec nam. Urna molestie at elementum eu facilisis. Ut eu sem integer vitae. At quis risus sed vulputate odio ut. Dignissim diam quis enim lobortis scelerisque fermentum dui. Enim praesent elementum facilisis leo vel fringilla. Pellentesque eu tincidunt tortor aliquam nulla. Amet risus nullam eget felis.

                Consequat ac felis donec et odio. Laoreet id donec ultrices tincidunt arcu non sodales neque sodales. Fringilla ut morbi tincidunt augue interdum velit euismod. Ultrices vitae auctor eu augue ut lectus. Lobortis mattis aliquam faucibus purus in massa. Commodo viverra maecenas accumsan lacus. Nunc mi ipsum faucibus vitae aliquet nec. Quam lacus suspendisse faucibus interdum posuere. Tempor nec feugiat nisl pretium. Pretium quam vulputate dignissim suspendisse in. A scelerisque purus semper eget duis. Diam vulputate ut pharetra sit amet aliquam id. Sit amet volutpat consequat mauris nunc congue nisi vitae. Et tortor consequat id porta nibh venenatis cras sed felis. Ipsum dolor sit amet consectetur adipiscing elit. Vel pharetra vel turpis nunc eget lorem dolor.

                Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Cras sed felis eget velit aliquet. Sem fringilla ut morbi tincidunt. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Malesuada fames ac turpis egestas integer eget aliquet nibh. Mi quis hendrerit dolor magna eget est. Pulvinar pellentesque habitant morbi tristique senectus et netus. Quis imperdiet massa tincidunt nunc pulvinar. Massa placerat duis ultricies lacus. Condimentum mattis pellentesque id nibh tortor id aliquet lectus proin. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque.
            </p>
        </section>
    </div>
</body>
</html>