{{template "index" .}}

{{define "content"}}
<div class="container">

   <h1>Home Page</h1>

   <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat, culpa provident. Quia vel amet ab dolores aliquam, voluptatem recusandae sit explicabo, distinctio laudantium perspiciatis officia quam, dolore blanditiis quibusdam nihil!
   </p>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ducimus eligendi aliquam quidem amet perspiciatis impedit dolorum quo laudantium a obcaecati qui sint voluptatum autem, libero eos. Eaque, repellendus necessitatibus?
   </p>
</div>
{{end}}