<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles.css">
  <title>Home</title>
</head>

<body>
  <!-- {{block "content" .}} -->
  <div class="container">
    <div class="nav">
      <div class="nav-bar">
        <h1 id="logo">LOGO</h1>
        <ul class="nav-links">
          <li class="nav-links-item">Home</li>
          <li class="nav-links-item">Login</li>
          <li class="nav-links-item">Register</li>
        </ul>
      </div>
    </div>
    <div class="msg-section">
      <div class="left-card">
        <h3 class="card-title">Chat</h3>

        <div class="form-group">
          <label for="username">Username:</label><br>
          <input type="text" name="username" class="username form-ctl" autocomplete="off" /><br><br>
        </div>
        <div class="form-group">
          <label for="message">Message:</label><br>
          <input type="text" name="message" class="message form-ctl" autocomplete="off">
        </div>
        <input type="hidden" name="action" class="action">
        <div class="chatbox">
          <p>Test example</p>
        </div>
      </div>
      <div class="right-card">
        <h3 class="card-title">Who's Online</h3>
        <div class="online-namelist">
          <p>Test example</p>
        </div>


      </div>
    </div>
    <h1>This is The Home Page</h1>
  </div>
  <!-- {{end}} -->
  <script src="assets/js/script.js"></script>
</body>

</html>